body.c1 {
	background-image: url("/home/lenovo/Desktop/website/hall.jpg");	
	background-repeat: no-repeat;
	background-size: 100%;
}
body.c2 {
	background-image: url("/home/lenovo/Desktop/website/leaf.jpg");	
	background-repeat: no-repeat;
	background-size: 100%;	
}
body.c3 {
	background-image: url("/home/lenovo/Desktop/website/droplet.jpg");	
	background-repeat: no-repeat;
	background-size: 100%;
}
body.c4 {
	background-image: url("/home/lenovo/Desktop/website/nature.jpg");	
	background-repeat: no-repeat;
	background-size: 100%;	
}

	